<img src="images/photo.png">
<br><br>
<b>Marwa Chafii</b>
<br><br>
Associate Professor of Electrical Engineering  <br>
Engineering Division <br>
New York University (NYU) Abu Dhabi <br>
Abu Dhabi, UAE 
<br><br>
NYU WIRELESS <br>
NYU Tandon School of Engineering <br>
Brooklyn, NY <br> <br>
marwa.chafii@nyu.edu
<br><br>
Marwa Chafii received her Ph.D. degree in electrical engineering in 2016, and her Master's degree in the field of advanced wireless communication systems (SAR) in 2013, 
both from CentraleSupélec, France. Between 2014 and 2016, she has been a visiting researcher at Poznan University of Technology (Poland), University of York (UK), 
Yokohama National University (Japan), and University of Oxford (UK). She joined the Technical University of Dresden, Germany, in 2018 as a research group leader, and ENSEA, 
France, in 2019 as an associate professor where she held a Chair of Excellence on Artificial Intelligence from CY Initiative. Since September 2021, she is an associate professor
at New York University (NYU) Abu Dhabi, and NYU WIRELESS, NYU Tandon School of Engineering. Her research interests include advanced waveform design, integrated sensing and communication, and machine learning for wireless communications.
<br>
She received the IEEE ComSoc Best Young Researcher Award for Europe Middle East and Africa (EMEA) region, the prize of the best Ph.D. in France in the fields of Signal, Image & Vision, and she has been nominated in the top 10 Rising Stars in Computer Networking and 
Communications by N2Women in 2020.  She served as Associate Editor at IEEE Communications Letters 2019-2021, where she received the Best Editor Award in 2020. Between 2018 
and 2021, she was research lead at the Women in AI organization. She is currently Associate Editor at IEEE Transactions on Communications, serving as vice-chair of the IEEE ComSoc ETI on Machine Learning for Communications and leading the 
Education working group of the IEEE ComSoc ETI on Integrated Sensing and Communications.
