<img src="images/photo.png">
<br><br>
<b>Marwa CHAFII</b>
<br><br>
Associate Professor at ENSEA <br>
ETIS, UMR 8051 <br>
CY Cergy Paris Université, ENSEA <br>
CNRS, France <br>
marwa.chafii@ensea.fr
<br><br>
Marwa Chafii received her Ph.D. degree in electrical engineering in 2016, and her Master's degree in the field of advanced wireless communication systems (SAR) in 2013,
both from CentraleSupélec, France. Between 2014 and 2016, she has been a visiting researcher at Poznan University of Technology (Poland), University of York (UK),
Yokohama National University (Japan), and University of Oxford (UK). She joined the Vodafone Chair Mobile Communication Systems at the Technical University of Dresden,
Germany, in February 2018 as a research group leader. Since September 2018, she is and an associate professor at ENSEA, France,
where she holds a Chair of Excellence on Artificial Intelligence from CY Initiative.
She received the prize of the best Ph.D. in France in the fields of Signal, Image & Vision, and she has been nominated in the top 10 Rising Stars in Computer Networking and Communications by N2Women in 2020.
Her research interests include advanced waveform design, machine learning for wireless communications, and indoor localization.
Since 2019, she serves as Associate Editor at IEEE Communications Letters where she received the Best Editor Award in 2020.
She is currently vice-chair of the IEEE ComSoc ETI on Machine Learning for Communications, leading the Education working group of the ETI on Integrated Sensing and Communications, research lead at Women in AI, and managing the Gender Committee of the AI4EU community.
