<ul>
	<li>Machine learning
		<ul>
			<li>Keywords: Deep learning for PHY, Reinforcement learning; Dynamic spectrum access in IoT and Cognitive radio</li>
		</ul>
	</li>
	<li>Signal processing for communications
		<ul>
			<li>Keywords: Time-frequency and time-scale analysis;Fourier transforms;Wavelet transforms;Probabilistic models</li>
		</ul>
	</li>
	<li>Digital communications
		<ul>
			<li>Keywords: Index modulation; Waveforms for 5G wireless systems; Adaptive waveforms; Peak-to-Average Power Ratio Reduction
				Problem</li>
		</ul>
	</li>

</ul>
