<table class="table">

		<tr>
				<td class="date">
					<b>July-August 2016</b>
				</td>
				<td>
					"DCT-OFDM with index modulation". Oxford university, UK.
					<br>
					Collaboration with: Prof. Justin P. Coon
				</td>
			</tr>


	<tr>
		<td class="date">
			<b>July-August 2015</b>
		</td>
		<td>
			Visiting the Department of Electrical and Computer Engineering, Communication Theory Laboratory,
			Yokohama National University, Japan. The main technical topic: "Study of the trade-off: Frequenct Localization of the carriers and the PAPR"
			<br>
			Collaboration with: Prof. Hideki Ochiai
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>June-July 2015</b>
		</td>
		<td>
			Visiting the Department of Electronics, University of York, United Kingdom. The main technical topic: "Study of the performance of the wavelet modulation: PAPR, spectral efficieny, and bit error rate for different channels"
			<br>
			Collaboration with: Prof. Alister G. Burr
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>June-July 2014</b>
		</td>
		<td>
			Visiting the Chair of Wireless Communications, Poznan University of Technology, Poland. The main technical focus: "Time Frequency Localization analysis for different orthogonal transforms"
			<br>
			Collaboration with: Dr. Adrian Kliks
		</td>
	</tr>
</table>