

<h3>PhD Students</h3>

<div class="panel panel-default" ng-repeat="element in students">
	<div class="panel-body">
		<a ng-if="element.link" type="button" class="close glyphicon glyphicon-link" data-dismiss="alert" ng-href="{{element.link}}" target="_blank">
			<span aria-hidden="true"></span><span class="sr-only">link</span>
		</a>
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>

<h3>Postdocs</h3>

<div class="panel panel-default" ng-repeat="element in postdocs">
	<div class="panel-body">
		<a ng-if="element.link" type="button" class="close glyphicon glyphicon-link" data-dismiss="alert" ng-href="{{element.link}}" target="_blank">
			<span aria-hidden="true"></span><span class="sr-only">link</span>
		</a>
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>


