<ul>
		<li>Communications numérique
			<ul>
				<li>Mots clés: Modulation indexée; Formes d'onde pour les systèmes 5G sans fils; Formes d'onde adaptatives; Problème du facteur de crête</li>
			</ul>
		</li>
		<li>Traitement de signal pour les communications numériques
			<ul>
				<li>Mots clés: Analyse temps-fréquence et temps-échelle; Transformées de Fourier, Transformées en ondelettes; Modèles probabilistes</li>
			</ul>
		</li>
		<li>Machine learning
			<ul>
				<li>Mots clés: Apprentissage par renforcement; Accès dynamique au spectre pour l'internet des objets et la radio intelligente</li>
			</ul>
		</li>
	</ul>