<table class="table">
		<tr>
				<td class="date">
					<b>Juillet-Août 2016</b>
				</td>
				<td>
					"Analyse des performance de la DCT-OFDM à modulation indexée". Université d'Oxford, Royaume Uni.
					<br>
					Collaborateur: Prof. Justin P. Coon
				</td>
			</tr>
	<tr>
		<td class="date">
			<b>Juillet-Août 2015</b>
		</td>
		<td>
			"Etude du compromis : Localisation fréquentielle et PAPR". Département de génie électrique et informatique, laboratoire de la théorie d'information, Université nationale de Yokohama, Japon.
			<br>
			Collaborateur: Prof. Hideki Ochiai
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Juin-Juillet 2015</b>
		</td>
		<td>
			"Etude des performances de la modulation en ondelettes: PAPR, Efficacité Spectrale et taux d'erreurs binaires". Département d'éléctroniques, Université de York, Royaume-Uni.
			<br>
			Collaborateur: Prof. Alister G. Burr
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Juin-Juillet 2014</b>
		</td>
		<td>
			"Localisation temps-fréquence pour la transformée de Fourier et la transformée en ondelettes". Département des communications sans fils, Université de technologie de Poznan, Pologne.
			<br>
			Collaborateur: Dr. Adrian Kliks
		</td>
	</tr>
</table>