<h3>Research Interests</h3>
<div class="panel panel-default" ng-repeat="element in interests">
	<div class="panel-body">
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>

<h3>PhD Students</h3>

<div class="panel panel-default" ng-repeat="element in students">
	<div class="panel-body">
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>


