<table class="table">
	<tr>
		<td>
			Février-Septembre 2015: Co-Encadrante d'un stage recherche (Master 2 Recherche): "Facteur crête d"un signal multi-bande dans le contexte de la Radio Cognitive"
		</td>
	</tr>
	<tr>
		<td>
			2014-2016: Représentante des Doctorants de l'Institut d'Electronique et de Télécommunications de Rennes (IETR) dans le conseil du laboratoire
		</td>
	</tr> 
	<tr>
		<td>
			2013-2014: Présidente de l'Association des Docteurs et Doctorants de l'IETR (ADDI)
		</td>
	</tr>
	<tr>
		<td>
			Reviewer pour  "IEEE Communications Letters"
		</td>
	</tr>
	<tr>
		<td>
			Reviewer pour la revue scientifique "Transactions on Emerging Telecommunications Technologies"
		</td>
	</tr>
	<tr>
		<td>
			Reviewer pour la revue scientifique "International Journal of Atomic and Nuclear Physics"
		</td>
	</tr>
	<tr>
		<td>
			Reviewer pour la conférence IEEE ICC 2015 et 2016
		</td>
	</tr>
</table>