<h3>Scientific Committees and Professional bodies</h3>

<div class="panel panel-default" ng-repeat="element in administrative">
	<div class="panel-body">
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>

<h3>Events</h3>

<div class="panel panel-default" ng-repeat="element in events">
	<div class="panel-body">
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>

<h3>Editorial activities</h3>

<div class="panel panel-default" ng-repeat="element in editorial">
	<div class="panel-body">
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>
<h3>Technical Program Committee Member</h3>

<div class="panel panel-default" ng-repeat="element in tpc">
	<div class="panel-body">
		<div ng-bind="element.title" class="pub-title"></div>
		<span ng-bind="element.body" class="pub-body"> </span>
	</div>
</div>

<br>