<table class="table">
	<tr>
		<td class="date">
			<b>Cours magistral</b>
		</td>
		<td>
			<ul>
				<li>
					GRAFCET à l'ISTIC, Université de Rennes 1 (UR1)
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Travaux Dirigés</b>
		</td>
		<td>
			<ul>
				<li>
					Compléments de Mathématiques pour l'Electronique (CME) à l'ISTIC, UR1
				</li>
				<li>
					Analyse Multimodale de Signaux biomédicaux (AMS) à l'ESIR, UR1
				</li>
			</ul>				
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Travaux Pratiques</b>
		</td>
		<td>
			<ul>
				<li>
					Traitement numérique du signal à l'INSA, Rennes
				</li>
				<li>
					Analyse Multimodale de Signaux biomédicaux (AMS) à l'ESIR, UR1
				</li>
				<li>
					Modulation Analogique à ISTIC, UR1
				</li>
				<li>
					Protocoles des Réseaux Informatiques (PRI) à l'ISTIC, UR1
				</li>
				<li>
					GRAFCET à ISTIC, UR1
				</li>
			</ul>
		</td>
	</tr>
</table>