<table class="table">
	<tr>
		<td class="date">
			<b>Lectures</b>
		</td>
		<td>
			<ul>
				<li>
					Sequential function chart (GRAFCET) at University of Rennes 1 (UR1)
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Tutorials</b>
		</td>
		<td>
			<ul>
				<li>
					Mathematics for Electronics at UR1
				</li>
				<li>
					Multimodal Biomedical Signal Analysis at UR1
				</li>
			</ul>				
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Laboratory Works</b>
		</td>
		<td>
			<ul>
				<li>
					Digital Signal Processing at National Institute of Applied Sciences (INSA), Rennes
				</li>
				<li>
					Multimodal Biomedical Signal Analysis at UR1
				</li>
				<li>
					Analogue Modulation at UR1
				</li>
				<li>
					Computer Network Protocols at UR1
				</li>
				<li>
					GRAFCET at UR1
				</li>
			</ul>
		</td>
	</tr>
</table>