<table class="table">
	<tr>
		<td class="date">
			<b>Internet of Things (2018-present at ENSEA, France)</b>
		</td>
		<td>
			<ul>
				<li>
					IoT protocols: short range solutions (Zigbee, Thread, Bluetooth, IEEE 802.15.4), IoT compatibility with OPv6 (6LoWPAN, RoLL, CoAP), LPWAN (Sigfox, LoRa, LTE-M, NB-IoT), RFID
				</li>
				<li>
					Wireless Sensors: wireless sensor netwroks (WSN) overview, energy harvesting, energy constraints in WSN, distributed estimation
				</li>
				<li>
					V2X Communications: Wi-Fi based vehicular communications, cellular-based vehicular communications, performance comparison
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="date">
			<b>Introduction to Machine Learning (2018-present at ENSEA, France) </b>
		</td>
		<td>
			<ul>
				<li>
					Supervised learning: linear regression, classification, generalized linear models, support vector machines, decision trees, K-nearset neighbors, artificial neural networks, generative learning algorithms
				</li>
				<li>
					Reinforcement learning: Markov decision process, dynamic programming, Monte Carla methods, temporal-difference learning, Q-learning, muti-armed bandits
				</li>
			</ul>				
		</td>
	</tr>
	<tr>
		<td class="date">
			<b> Introduction to communications (2018 at TUD, Germany) </b>
		</td>
		<td>
			<ul>
				<li>
					Signal theory: sinusoidal signal, Dirac function, Fourier Transform
				</li>
				<li>
					Linear and time-invariant systems: transfer function, convolution, time-frequency analysis, central limit theorem, etc
				</li>
				<li>
					Baseband and bandpass converters for real and complex signals
				</li>
				<li>
					Analog modulation: amplitude modulation, phase modulation and frequency modulation
				</li>
				<li>
					Analog and digital converters: sampling, quantization, etc.
				</li>
				<li>
					Digital modulations: BPSK, QPSK, ASK, FSK
				</li>
			</ul>
		</td>
	</tr>
</table>
