<h3>Journals</h3>
<div class="panel panel-default" ng-repeat="publication in journals">
  <div class="panel-body">
	<a type="button" class="close glyphicon glyphicon-link" data-dismiss="alert" ng-href="{{publication.link}}" target="_blank">
		<span aria-hidden="true"></span><span class="sr-only">link</span>
	</a>
	<div ng-bind="publication.title" class="pub-title"></div>
	<span ng-bind="publication.body" class="pub-body"></span>			
  </div>
</div>

<h3>International Conferences</h3>
<div class="panel panel-default" ng-repeat="publication in publications">
  <div class="panel-body">
	<a type="button" class="close glyphicon glyphicon-link" data-dismiss="alert" ng-href="{{publication.link}}" target="_blank">
		<span aria-hidden="true"></span><span class="sr-only">link</span>
	</a>
	<div ng-bind="publication.title" class="pub-title"></div>
	<span ng-bind="publication.body" class="pub-body"></span>				
  </div>
</div>

<h3>National Conference</h3>
<div class="panel panel-default" ng-repeat="publication in nationals">
  <div class="panel-body">
	<a type="button" class="close glyphicon glyphicon-link" data-dismiss="alert" ng-href="{{publication.link}}" target="_blank">
		<span aria-hidden="true"></span><span class="sr-only">link</span>
	</a>
	<div ng-bind="publication.title" class="pub-title"></div>
	<span ng-bind="publication.body" class="pub-body"></span>			
  </div>
</div>
