body {
	margin: 8px;
}

.date{
	min-width: 128px;
}

.panel {
	margin-bottom: 0 !important;
	border: 0 !important;
}

.panel:hover {
	background-color:rgba(144, 141, 199, 0.07);
}

.pub-title{
	font-weight: bold;
}

.pub-body{
	font-style: italic;
	color:gray;
	font-size: 12px;
}

.panel-body {
	padding: 8px 3px 8px 3px !important;
}

.panel-body a {
	padding-left: 2px;
}

.panel-body a:hover {
	color: #428bca !important;
	opacity: 1;
}

.hidden {
	display: none;
}

.view-content {
	 /* padding: 20px 0px 0px 0px !important; */
}

.bio {
	text-align: justify;
}

div.row {
	margin-left: 0px;
	margin-right: 0px;
}
